* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #1d4399;
  background: linear-gradient(100deg, #1d4399 0%,#6084b3 100%);
  background: -o-linear-gradient(100deg, #1d4399 0%,#6084b3 100%);
  background: -webkit-gradient(100deg, #1d4399 0%,#6084b3 100%);
}
body.eggomylego {
  background: #edc45a;
  background: linear-gradient(100deg, #edc45a 0%, #e7cb39 100%);
  background: -o-linear-gradient(100deg, #edc45a 0%, #e7cb39 100%);
  background: -webkit-gradient(100deg, #edc45a 0%, #e7cb39 100%);
}
#cvas {
  display: block;
}
#cvas.flipped {
  transform: scaleY(-1);
}
button#mute {
  position: fixed;
  top: 1em;
  right: 1em;
  width: 10em;
  height: 3em;
  color: #fff;
  background: #2b2b2b;
  font-size: 1em;
  border: 0;
  outline: none;
}
button#mute::-moz-focus-inner {
  border: 0;
}
button#mute:active {
  padding-left: 0.5em;
  right: 0.5em;
}
