* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #62d32a;
  background: linear-gradient(100deg, #62d32a 0%,#85b260 100%);
  background: -o-linear-gradient(100deg, #62d32a 0%,#85b260 100%);
  background: -webkit-gradient(100deg, #62d32a 0%,#85b260 100%);
}
#cvas {
  display: block;
}
